@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-button {
    margin-right: 5px;
    border-radius: 5px;
    padding: 5px;
    background-color: pink;
    color: white;
    font-weight: 500;

}

/* @layer base {
    button{
        background-color: red;
    }
} */